@font-face {
    -fx-font-family: "SF Pro Rounded";
    -fx-src: url("/fonts/SF-Pro-Rounded.ttf");
}

.label {
    -fx-font-family: "SF Pro Rounded";
}

.button {
    -fx-font-family: "SF Pro Rounded";
}

#emojiLabel {
    -fx-font-family: "Segoe UI Emoji";
    -fx-font-size: 15px;
}

#mainPane {
    -fx-background-image: url("../images/back.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
